body {
	
	border-color: grey;
}
h4
{
	size: 10px;
	font-family: calibri light;
}
a
{
	color: black;
}

#galeria h4
{
	font-size: 20px;
	font-family: calibri;
}

.informacoes h5
{
	font-size: 20px;
	font-family: arial;
	font-style: bold;
}

.informacoes p
{
	color: grey;
}

.cart
{
	border: 1px solid #333
}

@media screen and (max-width: 400px) and (min-width: 0px)
{
	#imglogotopo
	{
		width: 30%;
	}
}

